// Définition des variables couleurs primaire et secondaire,
// fond d'image, opacité de l'image
$prime_color: rgb(51, 24, 51); // Changement de couleur primaire et secondaire la fonction 
$second_color: rgb(155, 155, 11);// #dc143c = crimson;
$link_color: rgb(143, 104, 32);
$show-home-image: true;
$home-image: url(../img/abstract-background-canvas-249798.jpg);
$background-opacity: 0.9;

// Transition 
@mixin easeOut {
    transition: all 0.5s ease-out;  
}

// Fond de plan
@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-position: center; 
            background-repeat: repeat; 
            background-size: cover; 
            height: 100%;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($prime_color, $background-opacity)
            }
        }
    }
}

// Gestion de la couleur (du texte) en fonction de la variable $color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #222;
    } @else {
        @return #eee;
    }
}