// Bouton hamburger qui tourne sur lui même et se transforme en croix
.menu-btn {
    position:  absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $second_color;
        @include easeOut;
    }

    // class close ajoutée en JS
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Premier dépendant (enfant) ligne qui tourne à 45° pour former un X
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // suppression de la ligne du milieu
            &:nth-child(2) {
                opacity: 0;
            }
            // 3ème enfant qui tourne à -45° pour former l'autre partie de la croix
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Overlay du menu
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding, &-nav {
        display: flex; 
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left; // Float de gauche à droite 
        width: 50%; // Moitié de page
        height: 100vh; // Toute la hauteur du viewport
        overflow: hidden;

    }

    // Partie Navigation de Menu
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($prime_color, 5); // Couleur principale assombrie
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    // Partie Image : portrait de Menu
    &-branding {
        background: $prime_color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        } 

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/portrait.jpg');
            border-radius: 50%;
            border: solid 5px $second_color;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        } 

        &.current > a {
            color: $second_color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: 400;
        color: set-text-color($prime_color); // Fonction définie dans config.scss
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $second_color;
        }
    }
}

// Arrivée des menus un à un avec 0.1s de délai
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}

// Media queries de Double Extra small à Extra large
@mixin mediaXXsm {
    @media screen and (max-width: 320px) {
        @content;
    }
}

@mixin mediaXsm {
    @media screen and (max-width: 375px) {
        @content;
    }
}

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}
@mixin mediaXlg {
    @media screen and (min-width: 1171px) {
        @content;
    }
}