// Ecran Xlarge
@include mediaXlg {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }

}

// Ecran Large
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

// Ecran Tablette
@include mediaMd {
    main {
        align-items: center;
        -moz-box-align: center;
        text-align: center;

        .lg-heading {
            line-height: 1.1;
            margin-bottom: 1em;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 60vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 1.5em;
    }

    .menu-branding {
        height: 40vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background: url(../img/portraitsmall.jpg);
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas:
        'bio-image'
        'bio'
        'card1'
        'card2'
        'card3';
        grid-template-columns: 1fr;

    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Ecran Portable
@include mediaSm {
    main h1 {
        line-height: 1.1;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}

@include mediaXsm {
    .menu .nav-link {
        font-size: 1.5em;
    }
    
    main h1 {
        margin-top: 3vh;
        line-height: 1.1;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .boxes div {
        font-size: 1em;
        border: 1px #fff solid;
        padding: 0.5em 1em;
        margin-bottom: 1em;
    }
}

@include mediaXXsm {
    .menu .nav-link {
        font-size: 1.1em;
    }
    
    main h1 {
        margin-top: 1vh;
        line-height: 1.1;
    }
    h2.sm-heading {
        margin-bottom: 1em;
        margin-top: 1em;
        padding: 0.2em 1em;
        background: rgba(lighten($prime_color, 2), 0.5)
    }
    main .social-icons {
        margin-top: 0.1em;
    }
    .fab, .fas{
        margin: 0.1em 0.1em;
    }
    .projects {
        grid-template-columns: 1fr;
    }

    .boxes div {
        font-size: 1em;
        border: 1px #fff solid;
        padding: 0.1em 1em;
        margin-bottom: 1em;
    }
    #main-footer{
        font-size: 70%;
    }
}