// Import des fichiers scss de configuration et menu
@import '_config';
@import '_menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $prime_color;
    color: set-text-color($prime_color);
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Valeur des balises Heading par défaut
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        line-height: 1.1;

    }

    &.sm-heading {
        margin-bottom: 2em;
        margin-top: 2em;
        padding: 0.2em 1em;
        background: rgba(lighten($prime_color, 2), 0.5)
    }
}

a {
    color: set-text-color($prime_color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width : 100%;
}

.colored-text {
    color: $second_color;
}

main {
    padding: 3.2em;
    // utlisation du viewport dans toute sa hauteur moins l'espace pour le footer
    min-height: calc(100vh -60px); 

    .social-icons {
        margin-top: 2em;

        .fab, .fas{
            margin: 0.5em 0.3em;
        }
        a {
            //padding: 0.5em;
            &:hover {
                color: $second_color;
                @include easeOut;
            }
            //&.fab, .fas {
            //    margin: 1em;
            //}
        }   .tooltip {
            position: relative;

                .tooltiptext {
                    visibility: hidden;
                    overflow: hidden;
                    width: 140px;
                    background-color: $second_color;
                    color: #fff;
                    text-align: left;
                    border-radius: 6px;
                    padding: 5px 10px;
                    font-size: 16px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                    /* Position the tooltip */
                    position: absolute;
                    z-index: 1;
                    left: 40px;
                }
                &:hover .tooltiptext {
                    visibility: visible;
                }
        }
        
    }
    &#home{
        overflow: hidden;
        h1 {
            margin-top: 1vh;
        }
    }
}

// Qui suis je
.about-info {
    margin-bottom: 90px;
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 'bio-image bio bio' 'card1 card2 card3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bio-image;
        margin: auto;
        border-radius: 50%;
        border: $second_color 5px solid;
    }
    
    .bio {
        grid-area: bio;
        a{
            color: $link_color;
            &:hover {
                color: $second_color;
            }
        }

        span{
            text-transform: uppercase;
            font-weight: bold;
        }
        p{
            margin-bottom: 10px;
        }
    }
    
    .card1 {
        grid-area: card1;
    }
    
    .card2 {
        grid-area: card2;
    }
    
    .card3 {
        grid-area: card3;
    }
    
    .card {
        background: lighten($color: $prime_color, $amount: 5);
        padding: 0.5em;
        border-bottom: $second_color 5px solid;
    }
}

// Projets
.projects {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);

    .item  {
        margin-bottom: 3em;
    }

    img {
        width: 100%;
        border: 4.5px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $second_color;
            @include easeOut;

        }
    }
}

// Me contacter
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    div {
        font-size: 1.5em;
        border: 3px #fff solid;
        padding: 1em 2em;
        margin-bottom: 2em;
    }
}
// Boutons
.btn {
    display: block;
    padding: 0.5em 1em;
    border: 0;
    margin-bottom: 0.3em;

    &:hover {
        background: $second_color;
        color: set-text-color($second_color)
    }
}

.btn-dark {
    @extend .btn;
    background: darken($prime_color, 2);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($prime_color, 50);
    color: #333;
}

// Bas de page
#main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: darken($color: $prime_color, $amount: 1.9);
    color: set-text-color($prime_color);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 8px;

}

// inclusion des media queries après la lecture du css général
@import '_responsive';