.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #9b9b0b;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #221022;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #331833;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 5px #9b9b0b; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #9b9b0b; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 400;
    color: #eee;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #9b9b0b; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #331833;
  color: #eee;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/abstract-background-canvas-249798.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100%; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(51, 24, 51, 0.9); }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    line-height: 1.1; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0.2em 1em;
    background: rgba(58, 27, 58, 0.5); }

a {
  color: #eee;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.colored-text {
  color: #9b9b0b; }

main {
  padding: 3.2em;
  min-height: calc(100vh -60px); }
  main .social-icons {
    margin-top: 2em; }
    main .social-icons .fab, main .social-icons .fas {
      margin: 0.5em 0.3em; }
    main .social-icons a:hover {
      color: #9b9b0b;
      transition: all 0.5s ease-out; }
    main .social-icons .tooltip {
      position: relative; }
      main .social-icons .tooltip .tooltiptext {
        visibility: hidden;
        overflow: hidden;
        width: 140px;
        background-color: #9b9b0b;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 5px 10px;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        left: 40px; }
      main .social-icons .tooltip:hover .tooltiptext {
        visibility: visible; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 1vh; }

.about-info {
  margin-bottom: 90px;
  display: grid;
  grid-gap: 2em;
  grid-template-areas: 'bio-image bio bio' 'card1 card2 card3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bio-image;
    margin: auto;
    border-radius: 50%;
    border: #9b9b0b 5px solid; }
  .about-info .bio {
    grid-area: bio; }
    .about-info .bio a {
      color: #8f6820; }
      .about-info .bio a:hover {
        color: #9b9b0b; }
    .about-info .bio span {
      text-transform: uppercase;
      font-weight: bold; }
    .about-info .bio p {
      margin-bottom: 10px; }
  .about-info .card1 {
    grid-area: card1; }
  .about-info .card2 {
    grid-area: card2; }
  .about-info .card3 {
    grid-area: card3; }
  .about-info .card {
    background: #442044;
    padding: 0.5em;
    border-bottom: #9b9b0b 5px solid; }

.projects {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(3, 1fr); }
  .projects .item {
    margin-bottom: 3em; }
  .projects img {
    width: 100%;
    border: 4.5px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #9b9b0b;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .boxes div {
    font-size: 1.5em;
    border: 3px #fff solid;
    padding: 1em 2em;
    margin-bottom: 2em; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5em 1em;
  border: 0;
  margin-bottom: 0.3em; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #9b9b0b;
    color: #eee; }

.btn-dark {
  background: #2c152c;
  color: #fff; }

.btn-light {
  background: #c585c5;
  color: #333; }

#main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #2c152c;
  color: #eee;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 8px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    -moz-box-align: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1.1;
      margin-bottom: 1em; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 1.5em; }
  .menu-branding {
    height: 40vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url(../img/portraitsmall.jpg);
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: 'bio-image' 'bio' 'card1' 'card2' 'card3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main h1 {
    line-height: 1.1; }
  .projects {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 375px) {
  .menu .nav-link {
    font-size: 1.5em; }
  main h1 {
    margin-top: 3vh;
    line-height: 1.1; }
  .projects {
    grid-template-columns: 1fr; }
  .boxes div {
    font-size: 1em;
    border: 1px #fff solid;
    padding: 0.5em 1em;
    margin-bottom: 1em; } }

@media screen and (max-width: 320px) {
  .menu .nav-link {
    font-size: 1.1em; }
  main h1 {
    margin-top: 1vh;
    line-height: 1.1; }
  h2.sm-heading {
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.2em 1em;
    background: rgba(58, 27, 58, 0.5); }
  main .social-icons {
    margin-top: 0.1em; }
  .fab, .fas {
    margin: 0.1em 0.1em; }
  .projects {
    grid-template-columns: 1fr; }
  .boxes div {
    font-size: 1em;
    border: 1px #fff solid;
    padding: 0.1em 1em;
    margin-bottom: 1em; }
  #main-footer {
    font-size: 70%; } }
